.form-container {
    max-width: 300px;
    margin: 50px auto; /* Центрирование формы */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center; /* Выравнивание текста по центру */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Жирный шрифт для меток */
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: #ff0000;
    font-size: 12px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Жирный шрифт для кнопки */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  